<html>
    <head>
        <title>ahora si va a dar blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">annds Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>todos sabemos a analu es un monstruo ahora.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>He creado un monstruo.</p>
        </div>
    </body>
</html>